<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pet Hub</title>
</head>
<body>
<footer class="bg-gray-800 py-8">
  <div class="container mx-auto px-4 md:px-6 text-center text-white">
    <p class="text-sm md:text-base">A Community site that offers each other a itinerary</p>
    <p class="mt-4 text-xs md:text-sm">
      © 2024 <a href="/" class="text-blue-400 hover:text-blue-600">WIT</a>. All rights reserved.
    </p>
  </div>
</footer>
</body>
</html>
